img {
	width: 20%;
	height: 20%;

}

ul {
	text-align: left;
	list-style-type: none;
	font-family: Avantgarde, sans-serif;
	color: darkblue;
}

}
.renseignements {
	border-bottom-style: solid;
	border-bottom-color: purple;
}

.renseignements h2 {
	color: purple;
	font-family: Time New Roman, serif;
	display: flex;
	margin-top: -15%;
	margin-left: 40%;
}

.renseignements ul {
	text-align: center;
	list-style-type: none;
	font-family: Avantgarde, sans-serif;
	color: darkblue;
	border-bottom-style: solid;
	border-bottom-color: purple;
}

.jobs {
border-bottom-style: solid;
border-bottom-color: purple;
}

.jobs h3 {
	color: purple;
	text-align: center;
	font-family: Time New Roman, serif;
	text-decoration: underline;
}

.jobs li {
	text-align: left;
	list-style-type: none;
	font-family: Avantgarde, sans-serif;
	color: darkblue;
}	

.études {
	border-bottom-style: solid;
	border-bottom-color: purple;
}

.études h3 {
	color: purple;
	text-align: center;
	font-family: Time New Roman, serif;
	text-decoration: underline;
}

.étude li {
	text-align: left;
	list-style-type: none;
	font-family: Avantgarde, sans-serif;
	color: darkblue;
}

.loisirs {
	text-align: left;
	color:purple;
	font-family: Time New Roman, serif;
	}

.loisirs h3 {
	color: purple;
	text-align: center;
	font-family: Time New Roman, serif;
	text-decoration: underline;
}

.loisirs li {
	list-style-type: none;
	font-family: Avantgarde, sans-serif;
	color: darkblue;
	display: inline;
	margin: 2%;
}
